<div class = 'pagebutton'>
   <button class = 'btn btn-warning btn-sm bottomspace' ng-disabled = 'currentPage === 0' ng-click = 'previous(bookmark)'><span class="glyphicon glyphicon-menu-left"></span></button>
   <button class = 'btn btn-warning btn-sm bottomspace' ng-disabled = 'currentPage === chapters.length - 1' ng-click = 'next(bookmark)'><span class="glyphicon glyphicon-menu-right"></span></button>
</div>