<div class = 'fadeIn container fluid' ng-controller= 'FormController'>
  <div class = 'row'>
    <div class = 'col-md-12'>
		  <form ng-submit = 'search(formData)'>
		    <div ng-show = 'noResults !== null'>
		      <h3>{{noResults}}</h3>
		    </div>
		    <div ng-show = 'fetching' class = 'text-center fadeIn'>
			    <h4 class = 'loading'>Searching...</h4>
			  </div>
		    <div class = 'text-center'>
		      <h2>Search</h2>
		    </div>
		    <label>Pet</label>
		      <select ng-model = 'formData.animal' ng-options = 'animal for animal in animals track by animal' ng-change='fetchBreeds()' required >
		      </select>
		    <label>Breed</label>
		      <select class = 'fadeIn' ng-model = 'formData.breed' ng-options = 'breed.$t for breed in breeds track by breed.$t'>
		      </select>
		    <label>City</label>
		      <input type =  'text' ng-model = 'formData.location.city' required>
		    <label>State</label>
		      <select ng-model = 'formData.location.state' ng-options = 'state for state in states' required>
		      </select>
			  <div class = 'text-center'>
			    <button type='submit' class = 'btn btn-info btn-block'>Search</button>
			  </div>
		  </form>
		  <br></br>
			<form class = 'text-center' ng-submit = 'getRandom()'>
			  <h2>Get a Random Pet</h2>
			  <button type = submit class = 'btn btn-primary btn-block'>Fetch</button>
			</form>
			<br></br>
			<form class = 'text-center' ng-submit = 'getById(idSearch.id)'>
			  <div ng-show = 'notFound !== null' class = 'text-center fadeIn'>
			    <h4>{{notFound}}</h4>
			  </div>
			  <label> Pet ID </label>
			  <input type = text ng-model = 'idSearch.id' placeholder= '8-digit ID' pattern = '[0-9]{8}' title='8-digit ID' required>
			  <button type = 'submit' ng-disabled = 'idSearch.id === null' class = 'btn btn-success btn-block'>Find</button>
			</form>
    </div>
	</div>
</div>
	 
