	<div class = 'container fluid center text-center textWhite' ng-controller = 'ResController'>
	  <h1 class= 'bottomspace'>Available Pets</h1>
	  <sort-redirect 
      small-large = 'sortSmallToLarge()'
      large-small = 'sortLargeToSmall()'
      redirect-to = 'redirectToSearch()'>
    </sort-redirect>
	  <picture-grid
     show-info = 'showProfile($index)'
     current = 'currentPage'>
    </picture-grid>
    <pagination-button 
      next-page = 'next(bookmark)' 
      previous-page = 'previous(bookmark)'
      page = 'bookmark'
      chapters = 'pagination'>
    </pagination-button>
    <div ng-show = 'fullProfile !== null' class = 'overlay textBlack'>
      <profile-info 
        result-profile = 'fullProfile'
        redirect-to = 'closeModal()'
        button = 'button'>
      </profile-info>
    </div>
	</div>