  <div class = 'overlay'>
    <div class = 'about modal container fluid fadeIn'>
      <div class = 'row'>
        <div class = 'desc text-center col-md-6'>
          <img class = 'profile' ng-show = 'result.media.photos.photo[3].$t' src = {{result.media.photos.photo[3].$t}}>
          <img ng-show = 'result.media.photos.photo[3].$t === undefined' class = 'profile' src = '../img/download.jpeg'>
          <h4 class = 'desc'>Hi! I'm {{result.name.$t}}!</h4>
          <button class = 'btn btn-success btn-block' ng-click = 'redirect()'>{{button}}</button>
        </div>
        <div class = 'desc text-left col-md-6'>
          <h4>Age: {{result.age.$t}}</h4>
          <h4>Size: {{result.size.$t}}</h4>
          <h4>Location: {{result.contact.city.$t}}, {{result.contact.state.$t}}</h4>
          <h4>Shelter ID: {{result.id.$t}}</h4>
          <h4>Extra Info</h4>
          <ul>
            <li ng-repeat = 'info in result.options.option'>{{info.$t}}</li>
          </ul>
          <a href = 'mailto:{{result.contact.email.$t}}'>
            <h5>{{result.contact.email.$t}}</h5>
          </a>
          <p>{{result.description.$t}}</p>
        </div>
      </div>
    </div>
  </div>