<div class = 'row text-center'>
	<div ng-repeat = 'animal in current' class = "col-md-4 text-center fadeIn">
	  <img ng-show = 'animal.media.photos.photo[3].$t' class = 'pointer image fadeIn' ng-click = 'show({$index:$index})' src = {{animal.media.photos.photo[3].$t}}>
	  <img ng-show = 'animal.media.photos.photo[3].$t === undefined' class = 'pointer image' ng-click = 'show({$index:$index})' src = '../img/download.jpeg'>
	  <h4>{{animal.name.$t}}</h4>
	  <h4>{{animal.contact.city.$t}},{{animal.contact.state.$t}}</h4>
	</div>
</div>