<div class = 'clearfix bottomspace'>
  <small class = 'pull-left pointer underline' ng-click = 'redirect()'>New Search</small>
  <small class = 'pull-right pointer underline' ng-click = 'lToS()'>Sort XL to S</small>
  <p class = 'pull-right'>|</p>
  <small class = 'pull-right pointer underline' ng-click = 'sToL()'>Sort S to XL</small>
</div>