body {
	background-image: url(http://www.publicdomainpictures.net/pictures/20000/velka/grass-background.jpg);
	background-size: 100% 100%;
  background-attachment: fixed;
	color: black;
}

form{
	width: 65%;
	background-color: white;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	border: 1px solid black;
}

a{
	color: #1a8cff;
}

img{
	width: 250px;
	height: 250px;
	border: .5px solid black;
	border-radius: 5px;
}

select{
	max-width: 50%;
}

.marginright{
	margin-right: 5px;
}

.marginleft{
	margin-left: 5%;
}

.textWhite{
	color:white;
}

.textBlack{
	color:black;
}

.bottom{
	position: absolute;
	bottom: 0;
}

.navbar{
	background-color: #000033;
	height: 100%;
}



.left-margin{
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: auto;
}

.profile{
	max-width:100%;
	height:250px;
}

.pointer{
	cursor: pointer;
}

.image{
  transition: box-shadow .5s;
}

.image:hover{
	box-shadow: 0px 8px 10px gray, 
  -10px 8px 10px gray, 10px 8px 10px gray;
}

.underline{
	text-decoration: none;
	transition: text-decoration .5s;
}

.underline:hover{
	text-decoration: underline;
}

.bottomspace{
	margin-bottom: 5%;
}

.center{
	position: relative;
	margin: auto;
	max-width: 99%;
}

.desc{
	margin-top: 5%;
}

.sortbutton{
	position: absolute;
	top: 0;
	right: 0;
}

.pagebutton{
	position: absolute;
	bottom: 0;
	right: 0;
}


.overlay{
	position: fixed;
	z-index: 1005;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(10, 10, 10, 0.6);
}

.about{
	display: block;
	vertical-align: middle;
	max-width: 50%;
	max-height: 60%;
	margin: auto;
	background-color: white;
	overflow: scroll;
}

.narrow{
	max-width: 30%;
}

/*animations*/

@-webkit-keyframes appear {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

.loading{	
	-webkit-animation-name: appear 1s; /* Safari */
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: appear 1s; /* Safari */
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: ease-in
}

.fadeIn{
	-webkit-animation-name: appear .5s; /* Safari */
  -webkit-animation-duration: .5s;
  -moz-animation-name: appear .5s; /* Safari */
  -moz-animation-duration: .5s;
  animation-name: appear;
  animation-duration: .5s;
  animation-timing-function: ease-in

}